@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

body{
    background-color: hsl(27, 66%, 92%);
    font-size: 18px;
}
.container{
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-balance{
    background-color: hsl(10, 79%, 65%);
    width: 100%;
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: hsl(27, 66%, 92%);
}
.container-balance h2{
    font-size: 1rem;
    font-weight: 400;
}
.container-balance p{
    font-size: 2rem;
    font-weight: 700;
}
.container-balance img{
    width: 4rem;
}

.container-content{
    background-color: #FFFFFF;
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    border-radius: 15px;
    padding: 15px 20px;
}

.container-content h1{
    color: hsl(25, 47%, 15%);
    font-size: 2rem;
    font-weight: 700;
}


.container-content .container-graphic{
    display: flex;
    justify-content: space-between;
}
.chart{
    display: flex;
    flex-direction: column;
    height: 12em;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    
}

.chart-wrapper{
    width: 2.5em;
    display: flex;
    align-items: flex-end;
    height: 90%;
    cursor: pointer;
}
.chart-wrapper .chart-value{
    height: var(--height);
    background-color: hsl(10, 79%, 65%);
    width: 100%;
    border-radius: 0.25em;
}
.chart-wrapper .chart-value.active{
    background-color: hsl(186, 34%, 60%);
}
.chart-title{
    font-size: 0.8rem;
    color: hsl(28, 10%, 53%);
    margin-bottom: 10px;
}
.amount{
    background-color: hsl(25, 47%, 15%);
    color: hsl(186, 34%, 60%);
    opacity: 0;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: -30px;
}
.active{
    opacity: 1;
}
hr{
    border: none;
    border-bottom: 1px solid hsl(28, 10%, 53%);
    margin-bottom: 30px;
}

.container-result{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-result > .result-left p{
    font-size: 2.3rem;
    color: hsl(25, 47%, 15%);
    font-weight: 700;
}
.container-result > .result-left span{
    font-size: 1rem;
    color: hsl(28, 10%, 53%);
    font-weight: 400;
}
.container-result > .result-right p{
    font-size: 1rem;
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    text-align: end;
}
.container-result > .result-right span{
    font-size: 1rem;
    color: hsl(28, 10%, 53%);
    font-weight: 400;
}


@media (max-width: 410px) {
    .container-content h1{
        font-size: 1.5rem;
    }
}